body{
    height: 100vh;
    width: 100vh;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#game{
    width: 600px;
    height: 900px;
    margin: auto;
    border: 1px solid black;
    box-sizing: border-box;
    position: relative;
}

#score_container{
  
}


#barrier_1{
    height: 100px;
    width: 150px;
    margin: 0;
    background-color: red;
    top: 1000px;
    left: 225px;
    position: absolute;
    animation: movement 4s infinite linear;
    overflow: hidden;
}

#barrier_2{
    height: 300px;
    width: 150px;
    margin: 0;
    background-color: red;
    top: 900px;
    left: 25px;
    position: absolute;
    animation: movement 3s infinite linear;
    overflow: hidden;
}

#barrier_3{
    height: 400px;
    width: 150px;
    margin: 0;
    background-color: red;
    top: 900px;
    left: 25px;
    position: absolute;
    animation: movement 3s infinite linear;
    overflow: hidden;
}

#player{
    height: 150px;
    width: 150px;
    background-color: green;
    position: absolute;
    top: 750px;
    left: 225px;
}

@keyframes movement{
    0%{top:-400px};
    100%{top:900px};
}
