

body{
    margin: 0;
    background: #111;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}


.game-border{
    background: black;
    display: flex;
    height: 900px;
    width: 1400px;

}


#game{
    width: 600px;
    height: 900px;
    margin: auto;
    border: 1px solid white;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    z-index: 2;
}

#barrier_1{
    height: 100px;
    width: 150px;
    margin: 0;
    background-color: red;
    top: 1000px;
    left: 225px;
    position: absolute;
    animation: movement 4s infinite linear;
    overflow: hidden;
    z-index: 10;
}

#barrier_2{
    height: 300px;
    width: 150px;
    margin: 0;
    background-color: red;
    top: 900px;
    left: 25px;
    position: absolute;
    animation: movement 3s infinite linear;
    overflow: hidden;
    z-index: 10;
}

#barrier_3{
    height: 400px;
    width: 150px;
    margin: 0;
    background-color: red;
    top: 900px;
    left: 25px;
    position: absolute;
    animation: movement 3s infinite linear;
    overflow: hidden;
    z-index: 10;
}

#player{
    height: 150px;
    width: 150px;
    background-color: green;
    position: absolute;
    top: 750px;
    left: 225px;
    z-index: 5;
}

@keyframes movement{
    0%{top:-400px};
    100%{top:900px};
}

